*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.structure{
    display: flex;
    
}

/* STRUTTURA  */

.side-bar{
    width: 50px;
    background-color: aqua;
    height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 1;

}

.top-bar{
    height: 100px;
    background-color: black;
    width: calc(100vw - 50px);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.bottom-bar{
    height: 100px;
    background-color: black;
    
}

.main-content{
    height: calc(100vh - 200px);
    width: calc(100vw - 50px);
    background-color: brown;
    margin-top: 100px;
    overflow-y: auto;
    overflow-x: auto;
}

/* UTILITIES  */

.text-white{
    color: white;
}

.margin-left-5{
    margin-left: 5px;
}

.font-size{
    font-size: 12px;
}

/* MAIN  */

.nav-bar-main ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;

}

.list-top-main li{
    padding: 10px;
}

.centered{
    align-content: center;
}

/* SIDE BAR  */

.container-side-bar{
    display: flex;
    height: 100%;
    
}

.side-bar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.up-content img{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}



.style-button{
    background-color: black;
    border: 1px solid white;
    padding: 10px 50px;
    color: white;
    border-radius: 40px;
    cursor: pointer;

}

/* BOTTOM BAR  */

.container-bottom-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.row-bottom-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}

.img-sinister img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.col-sx{
    display: flex;
    min-width: 165px;
}

.img-sinister{
    margin-left: 10px;
}

.content-player span{
    display: block;
    font-size: 12px;
}

.col-sx i{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
}

.col-cen{
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.col-cen i{
    color: white;
    padding: 0 8px;
}

.time-bar{
    margin-top: 10px;
    display: flex
}

.bar{
    width: 300px;
    height: 10px;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 30px;
}

.time{
    width: 50px;
    background-color: white;
    height: 100%;
}

.media-player{
    display: flex;
    justify-content: center;
}

.col-dx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-volume{
    width: 50px;
    height: 10px;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 30px;
}

.volume{
    width: 10px;
    background-color: white;
    height: 100%;

}



@media screen and (min-width: 600px) {

    .side-bar{
        max-width: 300px;
        width: 300px;
    }

    .up-content img{
        width: 50px;
        height: 50px;
    }

    .down-content img{
        width: 50px;
        height: 50px;
    }

    .container-side-bar{
        width: 50px;
    }

    .nav-bar-main {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .top-bar{
        width: calc(100vw - 250px);
    }

   

   

    

  
}






