*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* STRUTTURA  */

.structure{
    display: flex;
    
}

.side-bar{
    width: 50px;
    background-color: aqua;
    height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 1;

}

.top-bar{
    height: 100px;
    background-color: black;
    width: calc(100vw - 50px);
    position: fixed;
    top: 0;
    right: 0;
    
}

.bottom-bar{
    height: 100px;
    background-color: black;
}

.main-content{
    height: calc(100vh - 200px);
    width: calc(100vw - 50px);
    background-color: brown;
    margin-top: 100px;
    overflow-y: auto;
}


/* MAIN  */

.container-side-bar{
    display: flex;
    height: 100%;
    
}

.side-bar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.up-content img{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

@media screen and (min-width: 600px) {

    .side-bar{
        width: 300px;
    }

    .up-content img{
        width: 50px;
        height: 50px;
    }

    .down-content img{
        width: 50px;
        height: 50px;
    }

    .container-side-bar{
        width: 50px;
    }

  
  
    
 
    
  
}






