*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.structure{
    display: flex;
    
}

/* STRUTTURA  */



.none{
    display: none;
}

.side-bar{
    width: 80px;
    background-color: aqua;
    height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 1;
    position: relative;

}

.top-bar{
    height: 100px;
    background-color: black;
    width: calc(100vw - 80px);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.bottom-bar{
    height: 100px;
    background-color: black;
    
}

.main-content{
    height: calc(100vh - 200px);
    width: calc(100vw - 80px);
    background-color: brown;
    margin-top: 100px;
    overflow-y: auto;
    overflow-x: auto;
}

/* UTILITIES  */

.inline{
    display: inline;
}

.square-2{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.text-white{
    color: white;
}

.margin-left-5{
    margin-left: 5px;
}

.font-size{
    font-size: 12px;
}

.display-flex{
    display: flex;
}

.margin-top{
    margin-top: 25px;
    
}

/* TOP-BAR  */

.style-button{
    background-color: black;
    border: 1px solid white;
    padding: 10px 50px;
    color: white;
    border-radius: 40px;
    cursor: pointer;

}

/* MAIN  */

.nav-bar-main ul{
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;

}

.list-top-main li{
    padding: 10px;
}

.centered{
    align-content: center;
}

/* SIDE BAR  */



.square{
    background-color: red;
    margin: 10px 10px;
    width: 30px;
    height: 30px;
}

.logo-section{
    display: flex;
}


.logo-small{
    width: 30px;
    height: 30px;
    margin: 10px 10px;
}

.logo{
    display: none;
}

.container-side-bar{
    display: flex;
    
}

.side-bar-content{
    display: flex;
    
}

.description{
    min-width: 150px;
    min-height: 40px;
    padding: 12px 0;
    
}

.playlist-content{
    display: none;
}

.playlist-content h2{
    margin: 10px 10px;
    
}

.playlist-square{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px 10px;
    position: relative;
    
}

.plus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playlist-list{
    margin: 0 10px;
    overflow-y: auto;
    display: none;
}

.profile img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.install img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.install{
    margin-bottom: 10px;
    margin-left: 10px;
}

.profile{
    margin-top: 10px;
}

/* BOTTOM BAR  */

.container-bottom-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.row-bottom-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}

.img-sinister img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.col-sx{
    display: flex;
    min-width: 165px;
}

.img-sinister{
    margin-left: 10px;
}

.content-player span{
    display: block;
    font-size: 12px;
}

.col-sx i{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
}

.col-cen{
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.col-cen i{
    color: white;
    padding: 0 8px;
}

.time-bar{
    margin-top: 10px;
    display: flex
}

.bar{
    width: 300px;
    height: 10px;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 30px;
}

.time{
    width: 50px;
    background-color: white;
    height: 100%;
}

.media-player{
    display: flex;
    justify-content: center;
}

.col-dx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-volume{
    width: 50px;
    height: 10px;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 30px;
}

.volume{
    width: 10px;
    background-color: white;
    height: 100%;

}



@media screen and (min-width: 600px) {

    .side-bar{
        max-width: 300px;
        width: 100%;
    }

    .up-content img{
        width: 50px;
        height: 50px;
    }

    .down-content img{
        width: 50px;
        height: 50px;
    }

    .container-side-bar{
        width: 50px;
    }

    .nav-bar-main {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .top-bar{
        width: calc(100vw - 300px);
    }

    .main-content{
        width: calc(100vw - 300px)
    }


    .none{
        display: block
    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-bottom: 20px;

    }

    .playlist-content{
        display: block;
    }

    .playlist-list{
        display: block;
    }
    

   

   

    

   

   

    

  
}






